// main SASS file

@import "_variables.scss";
@import "_mixins.scss";


* {
    padding: 0;
    margin: 0;
    @include border-Box(border-box);
}

*:after,
*:before {

    @include border-Box(inherit);
}


html {

    font-family: $main-font-stack;
    @incluse font-stack-html;

}

%h-properties {

    font-family: $header-font-stack;
    font-weight: 700;

}


%header-properties {

    content: "";
    position: absolute;
    bottom: -1rem;
    height: 1rem;
    width: 30%;
    background-color: $dark-blue;
}


h1 {
    @extend %h-properties;
}

h2 {
    @extend %h-properties;
}

h3 {
    @extend %h-properties;
}

h4 {
    @extend %h-properties;
}

ul {
    list-style: none;
}



.bg-header {

    @include bg-header-border-box;
    @include colors($light-blue, $dark-grey);


    &:before {
        @extend %header-properties;
        left: 0;
    }

    &:after {
        @extend %header-properties;
        right: 0;
    }
}




.bg-focal {
    @include colors($light-brown, $dark-brown);
}

.bg-content1 {

    @include colors($white-color, $dark-grey);
    font-weight: 100;
}

.bg-content2 {

    @include colors($light-blue, $dark-blue);
    font-weight: 100;
}

.bg-footer {

    @include colors($white-color, $light-grey);
}

header {

    @include width-margin(400px, 0, auto) {

        position: relative;
    }

    ;


    h1 {
        width: 100%;
        padding: 0 2rem;
        color: $dark-brown;
        letter-spacing: 0.1rem;

        i.fa-lg {
            display: block;
            width: 25%;
            float: left;
            font-size: 7rem;
            line-height: 12.7936rem;
            color: $light-brown;

            ~ {
                span {
                    float: right;
                    width: 75%;
                    font-size: 3.998rem;
                    padding-left: 1rem;
                    text-align: right;
                }
            }
        }
    }

    nav {

        @include flex-properties(column, flex-start, stretch) {

            width: 100%;
            display: flex;
            padding: 2rem 0;
        }

        ;

        > a {
            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 0;
            text-align: center;
            text-decoration: none;
            color: $dark-grey;
            font-size: 1.414rem;
            letter-spacing: 0.25rem;
            border: 1px solid $light-grey;
            border-bottom: none;
            padding: 1.0rem 2rem;
            line-height: 1;
            background-color: $white-color;

            &:hover {
                font-weight: 700;
                color: $dark-brown;
            }
        }
    }
}

section.focal {
    width: 400px;
    margin: 0 auto;
}

section.content1 {
    padding: 2rem 0;
}

section.content2 {
    padding: 2rem 0;
}

.row {

    @include flex-properties(column, flex-start, stretch) {
        display: flex;
    }

    ;

    .col {
        flex-basis: 100%;
    }
}

footer {
    .row {

        @include flex-properties(row, space-around, flex-start) {
            flex-wrap: nowrap;
        }

        ;

        > * {
            flex-basis: 50%;
            padding-bottom: 2rem;
            border-left: 1px solid $dark-blue;
            margin-bottom: 2rem;
        }

        .col {
            &:first-child {
                border-left: 0;
            }
        }
    }

    .row.last-row {
        > * {
            flex-basis: 100%;
        }
    }

    padding: 2rem 0;

    h4 {
        font-size: 1.414rem;
        padding: 0.5rem 2rem;
        color: $dark-brown;
    }

    p {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        color: $dark-grey;
    }

    .fa-circle {
        color: $dark-grey;
    }

    h4[lang=de] {
        display: block;
    }

    h4[lang=en] {
        display: none;
    }

    h4[lang=ar] {
        display: none;
    }

    h4[lang=ru] {
        display: none;
    }
}

.focal {
    h2 {
        font-size: 1.999rem;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }

    .author {
        font-size: 1rem;
        padding: 0.2rem 2rem 2rem;
    }
}

.content1 {
    h3 {
        font-size: 1.999rem;
        padding: 0.2rem 2rem 2rem;

        i {
            vertical-align: middle;
            padding-right: 2rem;
        }
    }

    p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 2rem;
    }
}

.content2 {
    h3 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0.5rem;
    }

    h4 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0rem;

        span[lang="sv"] {
            &:after {
                background-image: url(../img/sv-icon.png);
            }
        }

        span[lang="pt"] {
            &:after {
                background-image: url(../img/pt-icon.png);
            }
        }

        span[lang="fr"] {
            &:after {
                background-image: url(../img/fr-icon.png);
            }
        }

        span[lang="no"] {
            &:after {
                background-image: url(../img/no-icon.png);
            }
        }

        span[lang="hi"] {
            &:after {
                background-image: url(../img/hi-icon.png);
            }
        }

        span[lang="es"] {
            &:after {
                background-image: url(../img/es-icon.png);
            }
        }
    }

    p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 1rem;
    }

    li {
        padding: 0.5rem 2rem;
        font-size: 1.414rem;
    }

    span[lang] {
        position: relative;
    }

    span {
        &:hover {
            &:after {
                position: absolute;
                top: -0.5rem;
                left: 0;
                content: attr(data-country);
                display: block;
                padding: 0.2rem 1rem 0.2rem 2rem;
                font-size: 1rem;
                line-height: 2rem;
                height: 2rem;
                width: auto;
                word-break: keep-all;
                overflow-wrap: normal;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0.8);
                background-image: url(../img/uk-icon.png);
                background-repeat: no-repeat;
                background-size: 1.5rem auto;
                background-position: left center;
            }
        }
    }
}



@media all and (min-width:701px) and (max-width:900px) {


    header {

        @include width-margin(700px, 0, auto) {
            min-height: 8rem;
        }

        ;


        h1 {
            width: 100%;
            color: $dark-brown;

            i.fa-lg {
                display: inline;
                color: $dark-brown;
                vertical-align: baseline;
                float: none;
                font-size: 4rem;
                line-height: 6.3968rem;

                ~ {
                    span {
                        float: none;
                        letter-spacing: 0.25rem;
                        font-size: 3.998rem;
                        text-align: left;
                    }
                }
            }
        }


        &:before {
            width: 230px;
        }

        &:after {
            width: 230px;
        }

        nav {

            @include flex-properties(row, space-around, center);

            > a {
                flex-basis: 20%;
                font-size: 1rem;
                line-height: 2rem;
                min-height: 6rem;
                border: none;
                border-left: 1px solid $light-grey;
                padding: 1.0rem;
                background-color: $white-color;

                &:last-child {
                    border-right: 1px solid $light-grey;
                }
            }
        }
    }

    section.focal {

        @include width-margin(700px, 0, auto);
    }

    section.content1 {

        @include width-margin(700px, 0, auto);
    }

    section.content2 {

        @include width-margin(700px, 0, auto);

        h4 {
            font-size: 1.414rem;
        }

        li {
            font-size: 1.414rem;
        }
    }

    footer {
        @include width-margin(700px, 0, auto);

        .row {

            @include flex-properties(row, space-around, flex-start) {

                flex-wrap: nowrap;
            }

            ;

            > * {
                flex-basis: 50%;
            }

            &:first-child {
                .col {
                    &:last-child {
                        unicode-bidi: bidi-override;
                        direction: rtl;
                    }
                }
            }
        }

        .row.last-row {
            > * {
                flex-basis: 100%;
            }
        }

        .fa-circle {
            color: $med-blue;
        }

        h4[lang=ar] {
            display: block;
        }

        h4[lang=de] {
            display: none;
        }

        h4[lang=en] {
            display: none;
        }

        h4[lang=ru] {
            display: none;
        }
    }

    .content2 {
        .row {

            @include flex-properties(row, center, flex-start) {
                flex-wrap: wrap;
            }

            ;

            .col {
                flex-basis: 50%;
            }
        }
    }
}

@media all and (min-width:901px) and (max-width: 1400px) {
    header {

        @include width-margin(900px, 0, auto);

        &:before {
            width: 300px;
        }

        &:after {
            width: 300px;
        }

        h1 {
            width: 100%;
            color: $dark-blue;

            i.fa-lg {
                display: inline;
                color: $dark-blue;
                vertical-align: baseline;
                float: none;
                font-size: 4rem;
                line-height: 6.3968rem;

                ~ {
                    span {
                        float: none;
                        letter-spacing: 0.25rem;
                        font-size: 3.998rem;
                        text-align: left;
                    }
                }
            }
        }

        nav {

            @include flex-properties(row, space-around, center) {

                > a {
                    flex-basis: 20%;
                    font-size: 1rem;
                    line-height: 2rem;
                    min-height: 2rem;
                    border: none;
                    border-left: 1px solid $light-grey;
                    padding: 0 1.0rem;
                    margin: 1.0rem 0;
                    background-color: $white-color;

                    &:first-child {
                        border-left: none;

                    }
                }
            }

            ;
        }
    }

    section.focal {

        @include width-margin(900px, 0, auto);

        h2 {

            @include width-margin(600px, 0, auto);
        }

        p.author {
            @include width-margin(600px, 0, auto);
        }
    }

    section.content1 {

        @include width-margin(900px, 0, auto);

        h3 {
            font-size: 1.999rem;
            font-weight: 100;

            .fa-2x {
                font-size: 1.999rem;
                padding-right: 1rem;
            }
        }
    }

    section.content2 {

        @include width-margin(900px, 0, auto);

        h4 {
            font-size: 1.414rem;
        }

        li {
            font-size: 1.414rem;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    footer {
        @include width-margin(900px, 0, auto);

        .row {

            @include flex-properties(row, space-around, flex-start) {
                flex-wrap: wrap;

            }

            ;

            .col {
                flex-basis: 50%;
            }
        }

        .row.last-row {
            justify-content: flex-start;

            .col {
                flex-basis: 100%;
            }
        }

        .fa-circle {
            color: $light-brown;
        }

        h4[lang=ru] {
            display: block;
        }

        h4[lang=de] {
            display: none;
        }

        h4[lang=ar] {
            display: none;
        }

        h4[lang=en] {
            display: none;
        }
    }

    .content1 {
        .row {

            @include flex-properties(row, space-around, flex-start) {
                flex-wrap: wrap;
            }

            ;

            .col {
                flex-basis: 33%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }

    .content2 {
        .row {

            @include flex-properties(row, space-around, flex-start) {
                flex-wrap: wrap;
            }

            ;

            .col {
                flex-basis: 25%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}

@media all and (min-width:1401px) {
    header {

        @include width-margin(1400px, 0, auto);

        &:before {
            width: 450px;
        }

        &:after {
            width: 450px;
        }

        h1 {
            width: 100%;
            color: $dark-brown;

            i.fa-lg {
                display: inline;
                color: $dark-brown;
                vertical-align: baseline;
                float: none;
                font-size: 4rem;
                line-height: 6.3968rem;

                ~ {
                    span {
                        float: none;
                        letter-spacing: 0.25rem;
                        font-size: 3.998rem;
                        text-align: left;
                    }
                }
            }
        }

        nav {

            @include flex-properties(row, space-around, center) {
                width: 100%;
                padding: 0rem 0;
                background-color: $white-color;
            }

            ;


            > a {
                flex-basis: 20%;
                font-size: 1.414rem;
                line-height: 2rem;
                min-height: 2rem;
                border: none;
                border-left: 1px solid $light-grey;
                padding: 0 1.0rem;
                margin: 1rem 0;
                background-color: $white-color;

                &:first-child {
                    border-left: none;
                }
            }
        }
    }

    section.focal {
        @include width-margin(1400px, 0, auto);

        h2 {
            font-size: 3.998rem;
            width: 600px;
            margin: 0 auto;
        }

        p.author {
            width: 600px;
            margin: 0 auto;
        }
    }

    section.content1 {
        @include width-margin(1400px, 0, auto);

        h3 {
            font-size: 2.827rem;
            font-weight: 100;

            .fa-2x {
                font-size: 2.827rem;
                padding-right: 1rem;
                vertical-align: middle;
            }
        }
    }

    section.content2 {

        @include width-margin(1400px, 0, auto);

        h4 {
            font-size: 1.999rem;
        }

        li {
            font-size: 1.999rem;
        }

        p {
            font-size: 1.414rem;
        }
    }

    footer {

        @include width-margin(1400px, 0, auto);

        .row {

            @include flex-properties(row, space-evenly, flex-start) {
                flex-wrap: wrap;
            }

            .col {
                flex-basis: 50%;
            }
        }

        .row.last-row {
            justify-content: flex-start;

            .col {
                flex-basis: 100%;
            }
        }

        p {
            font-size: 1.414rem;
            letter-spacing: 0.2rem;

            &:last-child {
                color: $light-grey;
            }
        }

        .fa-circle {
            color: $med-blue;
        }

        h4[lang=en] {
            display: block;
        }

        h4[lang=de] {
            display: none;
        }

        h4[lang=ar] {
            display: none;
        }

        h4[lang=ru] {
            display: none;
        }
    }

    .content1 {
        .row {

            @include flex-properties(row, space-evenly, flex-start) {
                flex-wrap: wrap;
            };


            .col {
                flex-basis: 30%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }

    .content2 {
        .row {

            @include flex-properties(row, space-evenly, flex-start) {
                flex-wrap: wrap;
            };

            .col {
                flex-basis: 20%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}
